In [1]:
import os
import pandas as pd
import shutil
import re
import pprint
import math
import numpy as np

In [2]:
# from ucsbdistrict.OP_building_loads import building_loads_Usage

In [3]:
####COP table

COP_df = pd.DataFrame()
COP_df["Names"] = ["COOLCOP","HEATCOP","KITCHCOP","DHWCOP","LAUNCOP","Other"]
COP_df["Electric"] = ["Default",(1,4),0.8,1,1,1]
COP_df["Gas"] = ["-",(0,0.99),0.5,0.6,1,1]
COP_df["CHW"] = [-1,"-","-","-","-",1]
COP_df["HW/Steam"] = ["-",-1,"-",-1,"-",1]
COP_df.set_index("Names", inplace=True)
print(COP_df.loc["KITCHCOP","Electric"])

COP_df.head(6)

0.8

         Electric        Gas CHW HW/Steam
Names
COOLCOP   Default          -  -1        -
HEATCOP    (1, 4)  (0, 0.99)   -       -1
KITCHCOP      0.8        0.5   -        -
DHWCOP          1        0.6   -       -1
LAUNCOP         1          1   -        -
Other           1          1   1        1

In [4]:

from ucsbdistrict.OP_building_loads import simulationThermalLoads_output,allBldgElecUse_output, allBldgGasUse_output,current_district_therm_loads, current_district_therm_loads,buildingLoadData_df

simulationThermalLoads_output.head()

caan_no 8571
caan2 8571 2.5
allBldgGasUse_output                Timestamp  Building ID CAAN  Heating (Therms)  \
0    2010-01-01 00:00:00              8571                 0
1    2010-01-01 01:00:00              8571                 0
2    2010-01-01 02:00:00              8571                 0
3    2010-01-01 03:00:00              8571                 0
4    2010-01-01 04:00:00              8571                 0
...                  ...               ...               ...
8755 2010-12-31 19:00:00              8571                 0
8756 2010-12-31 20:00:00              8571                 0
8757 2010-12-31 21:00:00              8571                 0
8758 2010-12-31 22:00:00              8571                 0
8759 2010-12-31 23:00:00              8571                 0

      Hot Water (Therms)  Cooking (Therms)  Laundry (Therms)  \
0              1196450.0         1196450.0         1196450.0
1              1196450.0         1196450.0         1196450.0
2              1196450.0         1196450.0         1196450.0
3              1196450.0         1196450.0         1196450.0
4              1196450.0         1196450.0         1196450.0
...                  ...               ...               ...
8755           1196450.0         1196450.0         1196450.0
8756           1196450.0         1196450.0         1196450.0
8757           1196450.0         1196450.0         1196450.0
8758           1196450.0         1196450.0         1196450.0
8759           1196450.0         1196450.0         1196450.0

      Other Process (Therms)
0                  1196450.0
1                  1196450.0
2                  1196450.0
3                  1196450.0
4                  1196450.0
...                      ...
8755               1196450.0
8756               1196450.0
8757               1196450.0
8758               1196450.0
8759               1196450.0

[8760 rows x 7 columns]
caan_no 8897
caan 8897 0.1
allBldgGasUse_output                 Timestamp  Building ID CAAN  Heating (Therms)  \
0     2010-01-01 00:00:00              8571          0.000000
1     2010-01-01 01:00:00              8571          0.000000
2     2010-01-01 02:00:00              8571          0.000000
3     2010-01-01 03:00:00              8571          0.000000
4     2010-01-01 04:00:00              8571          0.000000
...                   ...               ...               ...
17515 2010-12-31 19:00:00              8897       1328.906870
17516 2010-12-31 20:00:00              8897       1512.030281
17517 2010-12-31 21:00:00              8897       1556.664851
17518 2010-12-31 22:00:00              8897       2001.495675
17519 2010-12-31 23:00:00              8897       2046.895774

       Hot Water (Therms)  Cooking (Therms)  Laundry (Therms)  \
0               1196450.0         1196450.0         1196450.0
1               1196450.0         1196450.0         1196450.0
2               1196450.0         1196450.0         1196450.0
3               1196450.0         1196450.0         1196450.0
4               1196450.0         1196450.0         1196450.0
...                   ...               ...               ...
17515          26598500.0        26598500.0        26598500.0
17516          26598500.0        26598500.0        26598500.0
17517          26598500.0        26598500.0        26598500.0
17518          26598500.0        26598500.0        26598500.0
17519          26598500.0        26598500.0        26598500.0

       Other Process (Therms)
0                   1196450.0
1                   1196450.0
2                   1196450.0
3                   1196450.0
4                   1196450.0
...                       ...
17515              26598500.0
17516              26598500.0
17517              26598500.0
17518              26598500.0
17519              26598500.0

[17520 rows x 7 columns]
caan_no 8512
caan2 8512 2.5
allBldgGasUse_output                 Timestamp  Building ID CAAN  Heating (Therms)  \
0     2010-01-01 00:00:00              8571               0.0
1     2010-01-01 01:00:00              8571               0.0
2     2010-01-01 02:00:00              8571               0.0
3     2010-01-01 03:00:00              8571               0.0
4     2010-01-01 04:00:00              8571               0.0
...                   ...               ...               ...
26275 2010-12-31 19:00:00              8512               0.0
26276 2010-12-31 20:00:00              8512               0.0
26277 2010-12-31 21:00:00              8512               0.0
26278 2010-12-31 22:00:00              8512               0.0
26279 2010-12-31 23:00:00              8512               0.0

       Hot Water (Therms)  Cooking (Therms)  Laundry (Therms)  \
0               1196450.0         1196450.0         1196450.0
1               1196450.0         1196450.0         1196450.0
2               1196450.0         1196450.0         1196450.0
3               1196450.0         1196450.0         1196450.0
4               1196450.0         1196450.0         1196450.0
...                   ...               ...               ...
26275             46770.0           46770.0           46770.0
26276             46770.0           46770.0           46770.0
26277             46770.0           46770.0           46770.0
26278             46770.0           46770.0           46770.0
26279             46770.0           46770.0           46770.0

       Other Process (Therms)
0                   1196450.0
1                   1196450.0
2                   1196450.0
3                   1196450.0
4                   1196450.0
...                       ...
26275                 46770.0
26276                 46770.0
26277                 46770.0
26278                 46770.0
26279                 46770.0

[26280 rows x 7 columns]
caan_no 8896
caan 8896 0.6
allBldgGasUse_output                 Timestamp  Building ID CAAN  Heating (Therms)  \
0     2010-01-01 00:00:00              8571          0.000000
1     2010-01-01 01:00:00              8571          0.000000
2     2010-01-01 02:00:00              8571          0.000000
3     2010-01-01 03:00:00              8571          0.000000
4     2010-01-01 04:00:00              8571          0.000000
...                   ...               ...               ...
35035 2010-12-31 19:00:00              8896        141.329222
35036 2010-12-31 20:00:00              8896        160.804393
35037 2010-12-31 21:00:00              8896        165.551279
35038 2010-12-31 22:00:00              8896        212.859029
35039 2010-12-31 23:00:00              8896        217.687329

       Hot Water (Therms)  Cooking (Therms)  Laundry (Therms)  \
0               1196450.0         1196450.0         1196450.0
1               1196450.0         1196450.0         1196450.0
2               1196450.0         1196450.0         1196450.0
3               1196450.0         1196450.0         1196450.0
4               1196450.0         1196450.0         1196450.0
...                   ...               ...               ...
35035            169725.0          169725.0          169725.0
35036            169725.0          169725.0          169725.0
35037            169725.0          169725.0          169725.0
35038            169725.0          169725.0          169725.0
35039            169725.0          169725.0          169725.0

       Other Process (Therms)
0                   1196450.0
1                   1196450.0
2                   1196450.0
3                   1196450.0
4                   1196450.0
...                       ...
35035                169725.0
35036                169725.0
35037                169725.0
35038                169725.0
35039                169725.0

[35040 rows x 7 columns]
caan_no 8000
caan2 8000 2.5
allBldgGasUse_output                 Timestamp  Building ID CAAN  Heating (Therms)  \
0     2010-01-01 00:00:00              8571               0.0
1     2010-01-01 01:00:00              8571               0.0
2     2010-01-01 02:00:00              8571               0.0
3     2010-01-01 03:00:00              8571               0.0
4     2010-01-01 04:00:00              8571               0.0
...                   ...               ...               ...
43795 2010-12-31 19:00:00              8000               0.0
43796 2010-12-31 20:00:00              8000               0.0
43797 2010-12-31 21:00:00              8000               0.0
43798 2010-12-31 22:00:00              8000               0.0
43799 2010-12-31 23:00:00              8000               0.0

       Hot Water (Therms)  Cooking (Therms)  Laundry (Therms)  \
0               1196450.0         1196450.0         1196450.0
1               1196450.0         1196450.0         1196450.0
2               1196450.0         1196450.0         1196450.0
3               1196450.0         1196450.0         1196450.0
4               1196450.0         1196450.0         1196450.0
...                   ...               ...               ...
43795             57425.0           57425.0           57425.0
43796             57425.0           57425.0           57425.0
43797             57425.0           57425.0           57425.0
43798             57425.0           57425.0           57425.0
43799             57425.0           57425.0           57425.0

       Other Process (Therms)
0                   1196450.0
1                   1196450.0
2                   1196450.0
3                   1196450.0
4                   1196450.0
...                       ...
43795                 57425.0
43796                 57425.0
43797                 57425.0
43798                 57425.0
43799                 57425.0

[43800 rows x 7 columns]

,Timestamp,Building ID CAAN,Cooling Load (kbtu),Heating Load (kbtu),Hot Water Load (kbtu),Cooking Load (kbtu),Laundry Load (kbtu)
0,2010-01-01 00:00:00,8000,0.0,75.780583,22970.0,74652.5,114850.0
1,2010-01-01 01:00:00,8000,0.0,79.728970,22970.0,74652.5,114850.0
2,2010-01-01 02:00:00,8000,0.0,81.036844,22970.0,74652.5,114850.0
3,2010-01-01 03:00:00,8000,0.0,80.610301,22970.0,74652.5,114850.0
4,2010-01-01 04:00:00,8000,0.0,72.891201,22970.0,74652.5,114850.0

In [17]:
allBldgElecUse_output.head()

,Timestamp,Building ID CAAN,Cooling (kWh),Heating (kWh),Hot Water (kWh),Cooking (kWh),Laundry (kWh),Other Process (kWh),Plug Loads (kWh),Lighting (kWh),Fans (kWh),Pumps (kWh)
0,2010-01-01 00:00:00,8571,0.0,0,1196450.0,1196450.0,1196450.0,1196450.0,12.247369,5.10307,7.51866,0.054726
1,2010-01-01 01:00:00,8571,0.0,0,1196450.0,1196450.0,1196450.0,1196450.0,12.247369,5.10307,7.51866,0.062632
2,2010-01-01 02:00:00,8571,0.0,0,1196450.0,1196450.0,1196450.0,1196450.0,12.247369,5.10307,7.51866,0.065808
3,2010-01-01 03:00:00,8571,0.0,0,1196450.0,1196450.0,1196450.0,1196450.0,12.247369,5.10307,7.51866,0.065552
4,2010-01-01 04:00:00,8571,0.0,0,1196450.0,1196450.0,1196450.0,1196450.0,12.247369,5.10307,7.51866,0.051685

In [18]:
allBldgGasUse_output.head()

,Timestamp,Building ID CAAN,Heating (Therms),Hot Water (Therms),Cooking (Therms),Laundry (Therms),Other Process (Therms)
0,2010-01-01 00:00:00,8571,0.0,1196450.0,1196450.0,1196450.0,1196450.0
1,2010-01-01 01:00:00,8571,0.0,1196450.0,1196450.0,1196450.0,1196450.0
2,2010-01-01 02:00:00,8571,0.0,1196450.0,1196450.0,1196450.0,1196450.0
3,2010-01-01 03:00:00,8571,0.0,1196450.0,1196450.0,1196450.0,1196450.0
4,2010-01-01 04:00:00,8571,0.0,1196450.0,1196450.0,1196450.0,1196450.0

In [7]:
current_district_therm_loads.head()

,Timestamp,Current District Cooling Load (kBtu),Current District Heating Load (kBtu),Current District Hot Water Load (kBtu),Ambient Air Wet Bulb Temp (F)
0,2010-01-01 00:00:00,0.0,219.608632,497288.0,49.501190
1,2010-01-01 01:00:00,0.0,231.050877,497288.0,49.524185
2,2010-01-01 02:00:00,0.0,234.841033,497288.0,49.515631
3,2010-01-01 03:00:00,0.0,233.604932,497288.0,48.960694
4,2010-01-01 04:00:00,0.0,211.235336,497288.0,48.592221

In [1]:
from ucsbdistrict.OP_building_loads import current_district_therm_loads, COP_wetbulb_reg_output,current_District_Elec_Use,current_District_Gas_Use,current_Bldg_Therm_Op_Loads,Current_Bldg_Equip_Gas_Use,Current_Bldg_Equip_Elec_Use,\
new_Bldg_Therm_Op_Loads,COP_newBldgEquip_reg_output

COP_wetbulb_reg_output.head()

caan_no 8571
caan2 8571 2.5
filtered_building_ids_cooling  0      False
1      False
2      False
3      False
4      False
       ...
458    False
459    False
460    False
461    False
462    False
Length: 463, dtype: bool
filtered_loads_usage_cooling  Empty DataFrame
Columns: [Timestamp, Building ID CAAN, Cooling Load (kbtu), Heating Load (kbtu), Hot Water Load (kbtu), Cooking Load (kbtu), Laundry Load (kbtu)]
Index: []
allBldgGasUse_output                Timestamp  Building ID CAAN  Heating (Therms)  \
0    2010-01-01 00:00:00              8571                 0
1    2010-01-01 01:00:00              8571                 0
2    2010-01-01 02:00:00              8571                 0
3    2010-01-01 03:00:00              8571                 0
4    2010-01-01 04:00:00              8571                 0
...                  ...               ...               ...
8755 2010-12-31 19:00:00              8571                 0
8756 2010-12-31 20:00:00              8571                 0
8757 2010-12-31 21:00:00              8571                 0
8758 2010-12-31 22:00:00              8571                 0
8759 2010-12-31 23:00:00              8571                 0

      Hot Water (Therms)  Cooking (Therms)  Laundry (Therms)  \
0              1196450.0         1196450.0         1196450.0
1              1196450.0         1196450.0         1196450.0
2              1196450.0         1196450.0         1196450.0
3              1196450.0         1196450.0         1196450.0
4              1196450.0         1196450.0         1196450.0
...                  ...               ...               ...
8755           1196450.0         1196450.0         1196450.0
8756           1196450.0         1196450.0         1196450.0
8757           1196450.0         1196450.0         1196450.0
8758           1196450.0         1196450.0         1196450.0
8759           1196450.0         1196450.0         1196450.0

      Other Process (Therms)
0                  1196450.0
1                  1196450.0
2                  1196450.0
3                  1196450.0
4                  1196450.0
...                      ...
8755               1196450.0
8756               1196450.0
8757               1196450.0
8758               1196450.0
8759               1196450.0

[8760 rows x 7 columns]
filtered_building_ids_cooling  0      False
1      False
2      False
3      False
4      False
       ...
458    False
459    False
460    False
461    False
462    False
Length: 463, dtype: bool
filtered_loads_usage_cooling  Empty DataFrame
Columns: [Timestamp, Building ID CAAN, Cooling Load (kbtu), Heating Load (kbtu), Hot Water Load (kbtu), Cooking Load (kbtu), Laundry Load (kbtu)]
Index: []
filtered_building_ids_cooling  0      False
1      False
2      False
3      False
4      False
       ...
458    False
459    False
460    False
461    False
462    False
Length: 463, dtype: bool
filtered_loads_usage_cooling  Empty DataFrame
Columns: [Timestamp, Building ID CAAN, Cooling (kWh), Heating (kWh), Hot Water (kWh), Cooking (kWh), Laundry (kWh), Other Process (kWh), Plug Loads (kWh), Lighting (kWh), Fans (kWh), Pumps (kWh)]
Index: []
filtered_building_ids_cooling  0      False
1      False
2      False
3      False
4      False
       ...
458    False
459    False
460    False
461    False
462    False
Length: 463, dtype: bool
filtered_loads_usage_cooling  Empty DataFrame
Columns: [Timestamp, Building ID CAAN, Heating (Therms), Hot Water (Therms), Cooking (Therms), Laundry (Therms), Other Process (Therms)]
Index: []
filtered_building_ids_cooling  0      False
1      False
2      False
3      False
4      False
       ...
458     True
459     True
460     True
461    False
462    False
Length: 463, dtype: bool
filtered_loads_usage_cooling  Empty DataFrame
Columns: [Timestamp, Building ID CAAN, Cooling Load (kbtu), Heating Load (kbtu), Hot Water Load (kbtu), Cooking Load (kbtu), Laundry Load (kbtu)]
Index: []
subset_training_data_hpCOP    Ambient Air Dry Bulb Temp (F)  \
2                             50
4                             60
6                             70
7                             80
8                             90
9                            100

   New Building Independent Heat Pump - Cooling COP (44°F CHWST)  \
2                                              5.318
4                                              4.848
6                                              4.278
7                                              3.658
8                                              3.068
9                                              2.538

   New Building Independent Heat Pump - Heating COP (170°F HWST)  \
2                                           1.949755
4                                           2.166295
6                                                NaN
7                                                NaN
8                                                NaN
9                                                NaN

   New Building Independent Heat Pump - Hot Water COP  \
2                                               3.25
4                                               3.60
6                                               3.75
7                                               3.80
8                                                NaN
9                                                NaN

   New Building Cooking COP\n  New Building Laundry COP
2                         0.8                       NaN
4                         0.8                       NaN
6                         0.8                       NaN
7                         0.8                       NaN
8                         0.8                       NaN
9                         0.8                       NaN
new_dry_bulb_temps [ 50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67
  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85
  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100]
X_new [[  1.  50.]
 [  1.  51.]
 [  1.  52.]
 [  1.  53.]
 [  1.  54.]
 [  1.  55.]
 [  1.  56.]
 [  1.  57.]
 [  1.  58.]
 [  1.  59.]
 [  1.  60.]
 [  1.  61.]
 [  1.  62.]
 [  1.  63.]
 [  1.  64.]
 [  1.  65.]
 [  1.  66.]
 [  1.  67.]
 [  1.  68.]
 [  1.  69.]
 [  1.  70.]
 [  1.  71.]
 [  1.  72.]
 [  1.  73.]
 [  1.  74.]
 [  1.  75.]
 [  1.  76.]
 [  1.  77.]
 [  1.  78.]
 [  1.  79.]
 [  1.  80.]
 [  1.  81.]
 [  1.  82.]
 [  1.  83.]
 [  1.  84.]
 [  1.  85.]
 [  1.  86.]
 [  1.  87.]
 [  1.  88.]
 [  1.  89.]
 [  1.  90.]
 [  1.  91.]
 [  1.  92.]
 [  1.  93.]
 [  1.  94.]
 [  1.  95.]
 [  1.  96.]
 [  1.  97.]
 [  1.  98.]
 [  1.  99.]
 [  1. 100.]]
predicted_cooling_cop_new [5.36990476 5.3131619  5.25641905 5.19967619 5.14293333 5.08619048
 5.02944762 4.97270476 4.9159619  4.85921905 4.80247619 4.74573333
 4.68899048 4.63224762 4.57550476 4.5187619  4.46201905 4.40527619
 4.34853333 4.29179048 4.23504762 4.17830476 4.1215619  4.06481905
 4.00807619 3.95133333 3.89459048 3.83784762 3.78110476 3.7243619
 3.66761905 3.61087619 3.55413333 3.49739048 3.44064762 3.38390476
 3.3271619  3.27041905 3.21367619 3.15693333 3.10019048 3.04344762
 2.98670476 2.9299619  2.87321905 2.81647619 2.75973333 2.70299048
 2.64624762 2.58950476 2.5327619 ]
caan_no 8897
caan 8897 0.1
filtered_building_ids_cooling  0      False
1      False
2      False
3      False
4      False
       ...
458    False
459    False
460    False
461    False
462    False
Length: 463, dtype: bool
filtered_loads_usage_cooling  Empty DataFrame
Columns: [Timestamp, Building ID CAAN, Cooling Load (kbtu), Heating Load (kbtu), Hot Water Load (kbtu), Cooking Load (kbtu), Laundry Load (kbtu)]
Index: []
allBldgGasUse_output                 Timestamp  Building ID CAAN  Heating (Therms)  \
0     2010-01-01 00:00:00              8571          0.000000
1     2010-01-01 01:00:00              8571          0.000000
2     2010-01-01 02:00:00              8571          0.000000
3     2010-01-01 03:00:00              8571          0.000000
4     2010-01-01 04:00:00              8571          0.000000
...                   ...               ...               ...
17515 2010-12-31 19:00:00              8897       1328.906870
17516 2010-12-31 20:00:00              8897       1512.030281
17517 2010-12-31 21:00:00              8897       1556.664851
17518 2010-12-31 22:00:00              8897       2001.495675
17519 2010-12-31 23:00:00              8897       2046.895774

       Hot Water (Therms)  Cooking (Therms)  Laundry (Therms)  \
0               1196450.0         1196450.0         1196450.0
1               1196450.0         1196450.0         1196450.0
2               1196450.0         1196450.0         1196450.0
3               1196450.0         1196450.0         1196450.0
4               1196450.0         1196450.0         1196450.0
...                   ...               ...               ...
17515          26598500.0        26598500.0        26598500.0
17516          26598500.0        26598500.0        26598500.0
17517          26598500.0        26598500.0        26598500.0
17518          26598500.0        26598500.0        26598500.0
17519          26598500.0        26598500.0        26598500.0

       Other Process (Therms)
0                   1196450.0
1                   1196450.0
2                   1196450.0
3                   1196450.0
4                   1196450.0
...                       ...
17515              26598500.0
17516              26598500.0
17517              26598500.0
17518              26598500.0
17519              26598500.0

[17520 rows x 7 columns]
filtered_building_ids_cooling  0      False
1      False
2      False
3      False
4      False
       ...
458    False
459    False
460    False
461    False
462    False
Length: 463, dtype: bool
filtered_loads_usage_cooling  Empty DataFrame
Columns: [Timestamp, Building ID CAAN, Cooling Load (kbtu), Heating Load (kbtu), Hot Water Load (kbtu), Cooking Load (kbtu), Laundry Load (kbtu)]
Index: []
filtered_building_ids_cooling  0      False
1      False
2      False
3      False
4      False
       ...
458    False
459    False
460    False
461    False
462    False
Length: 463, dtype: bool
filtered_loads_usage_cooling  Empty DataFrame
Columns: [Timestamp, Building ID CAAN, Cooling (kWh), Heating (kWh), Hot Water (kWh), Cooking (kWh), Laundry (kWh), Other Process (kWh), Plug Loads (kWh), Lighting (kWh), Fans (kWh), Pumps (kWh)]
Index: []
filtered_building_ids_cooling  0      False
1      False
2      False
3      False
4      False
       ...
458    False
459    False
460    False
461    False
462    False
Length: 463, dtype: bool
filtered_loads_usage_cooling  Empty DataFrame
Columns: [Timestamp, Building ID CAAN, Heating (Therms), Hot Water (Therms), Cooking (Therms), Laundry (Therms), Other Process (Therms)]
Index: []
filtered_building_ids_cooling  0      False
1      False
2      False
3      False
4      False
       ...
458     True
459     True
460     True
461    False
462    False
Length: 463, dtype: bool
filtered_loads_usage_cooling                  Timestamp  Building ID CAAN  Cooling Load (kbtu)  \
8760  2010-01-01 00:00:00              8897                  0.0
8761  2010-01-01 01:00:00              8897                  0.0
8762  2010-01-01 02:00:00              8897                  0.0
8763  2010-01-01 03:00:00              8897                  0.0
8764  2010-01-01 04:00:00              8897                  0.0
...                   ...               ...                  ...
17515 2010-12-31 19:00:00              8897                  0.0
17516 2010-12-31 20:00:00              8897                  0.0
17517 2010-12-31 21:00:00              8897                  0.0
17518 2010-12-31 22:00:00              8897                  0.0
17519 2010-12-31 23:00:00              8897                  0.0

       Heating Load (kbtu)  Hot Water Load (kbtu)  Cooking Load (kbtu)  \
8760            351.005631             10639400.0           34578050.0
8761            369.294039             10639400.0           34578050.0
8762            375.351935             10639400.0           34578050.0
8763            373.376245             10639400.0           34578050.0
8764            337.622395             10639400.0           34578050.0
...                    ...                    ...                  ...
17515           132.890687             10639400.0           34578050.0
17516           151.203028             10639400.0           34578050.0
17517           155.666485             10639400.0           34578050.0
17518           200.149567             10639400.0           34578050.0
17519           204.689577             10639400.0           34578050.0

       Laundry Load (kbtu)
8760            53197000.0
8761            53197000.0
8762            53197000.0
8763            53197000.0
8764            53197000.0
...                    ...
17515           53197000.0
17516           53197000.0
17517           53197000.0
17518           53197000.0
17519           53197000.0

[8760 rows x 7 columns]
subset_training_data_hpCOP    Ambient Air Dry Bulb Temp (F)  \
2                             50
4                             60
6                             70
7                             80
8                             90
9                            100

   New Building Independent Heat Pump - Cooling COP (44°F CHWST)  \
2                                              5.318
4                                              4.848
6                                              4.278
7                                              3.658
8                                              3.068
9                                              2.538

   New Building Independent Heat Pump - Heating COP (170°F HWST)  \
2                                           1.949755
4                                           2.166295
6                                                NaN
7                                                NaN
8                                                NaN
9                                                NaN

   New Building Independent Heat Pump - Hot Water COP  \
2                                               3.25
4                                               3.60
6                                               3.75
7                                               3.80
8                                                NaN
9                                                NaN

   New Building Cooking COP\n  New Building Laundry COP
2                         0.8                       NaN
4                         0.8                       NaN
6                         0.8                       NaN
7                         0.8                       NaN
8                         0.8                       NaN
9                         0.8                       NaN
new_dry_bulb_temps [ 50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67
  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85
  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100]
X_new [[  1.  50.]
 [  1.  51.]
 [  1.  52.]
 [  1.  53.]
 [  1.  54.]
 [  1.  55.]
 [  1.  56.]
 [  1.  57.]
 [  1.  58.]
 [  1.  59.]
 [  1.  60.]
 [  1.  61.]
 [  1.  62.]
 [  1.  63.]
 [  1.  64.]
 [  1.  65.]
 [  1.  66.]
 [  1.  67.]
 [  1.  68.]
 [  1.  69.]
 [  1.  70.]
 [  1.  71.]
 [  1.  72.]
 [  1.  73.]
 [  1.  74.]
 [  1.  75.]
 [  1.  76.]
 [  1.  77.]
 [  1.  78.]
 [  1.  79.]
 [  1.  80.]
 [  1.  81.]
 [  1.  82.]
 [  1.  83.]
 [  1.  84.]
 [  1.  85.]
 [  1.  86.]
 [  1.  87.]
 [  1.  88.]
 [  1.  89.]
 [  1.  90.]
 [  1.  91.]
 [  1.  92.]
 [  1.  93.]
 [  1.  94.]
 [  1.  95.]
 [  1.  96.]
 [  1.  97.]
 [  1.  98.]
 [  1.  99.]
 [  1. 100.]]
predicted_cooling_cop_new [5.36990476 5.3131619  5.25641905 5.19967619 5.14293333 5.08619048
 5.02944762 4.97270476 4.9159619  4.85921905 4.80247619 4.74573333
 4.68899048 4.63224762 4.57550476 4.5187619  4.46201905 4.40527619
 4.34853333 4.29179048 4.23504762 4.17830476 4.1215619  4.06481905
 4.00807619 3.95133333 3.89459048 3.83784762 3.78110476 3.7243619
 3.66761905 3.61087619 3.55413333 3.49739048 3.44064762 3.38390476
 3.3271619  3.27041905 3.21367619 3.15693333 3.10019048 3.04344762
 2.98670476 2.9299619  2.87321905 2.81647619 2.75973333 2.70299048
 2.64624762 2.58950476 2.5327619 ]
caan_no 8512
caan2 8512 2.5
filtered_building_ids_cooling  0      False
1      False
2      False
3      False
4      False
       ...
458    False
459    False
460    False
461    False
462    False
Length: 463, dtype: bool
filtered_loads_usage_cooling  Empty DataFrame
Columns: [Timestamp, Building ID CAAN, Cooling Load (kbtu), Heating Load (kbtu), Hot Water Load (kbtu), Cooking Load (kbtu), Laundry Load (kbtu)]
Index: []
allBldgGasUse_output                 Timestamp  Building ID CAAN  Heating (Therms)  \
0     2010-01-01 00:00:00              8571               0.0
1     2010-01-01 01:00:00              8571               0.0
2     2010-01-01 02:00:00              8571               0.0
3     2010-01-01 03:00:00              8571               0.0
4     2010-01-01 04:00:00              8571               0.0
...                   ...               ...               ...
26275 2010-12-31 19:00:00              8512               0.0
26276 2010-12-31 20:00:00              8512               0.0
26277 2010-12-31 21:00:00              8512               0.0
26278 2010-12-31 22:00:00              8512               0.0
26279 2010-12-31 23:00:00              8512               0.0

       Hot Water (Therms)  Cooking (Therms)  Laundry (Therms)  \
0               1196450.0         1196450.0         1196450.0
1               1196450.0         1196450.0         1196450.0
2               1196450.0         1196450.0         1196450.0
3               1196450.0         1196450.0         1196450.0
4               1196450.0         1196450.0         1196450.0
...                   ...               ...               ...
26275             46770.0           46770.0           46770.0
26276             46770.0           46770.0           46770.0
26277             46770.0           46770.0           46770.0
26278             46770.0           46770.0           46770.0
26279             46770.0           46770.0           46770.0

       Other Process (Therms)
0                   1196450.0
1                   1196450.0
2                   1196450.0
3                   1196450.0
4                   1196450.0
...                       ...
26275                 46770.0
26276                 46770.0
26277                 46770.0
26278                 46770.0
26279                 46770.0

[26280 rows x 7 columns]
filtered_building_ids_cooling  0      False
1      False
2      False
3      False
4      False
       ...
458    False
459    False
460    False
461    False
462    False
Length: 463, dtype: bool
filtered_loads_usage_cooling  Empty DataFrame
Columns: [Timestamp, Building ID CAAN, Cooling Load (kbtu), Heating Load (kbtu), Hot Water Load (kbtu), Cooking Load (kbtu), Laundry Load (kbtu)]
Index: []
filtered_building_ids_cooling  0      False
1      False
2      False
3      False
4      False
       ...
458    False
459    False
460    False
461    False
462    False
Length: 463, dtype: bool
filtered_loads_usage_cooling  Empty DataFrame
Columns: [Timestamp, Building ID CAAN, Cooling (kWh), Heating (kWh), Hot Water (kWh), Cooking (kWh), Laundry (kWh), Other Process (kWh), Plug Loads (kWh), Lighting (kWh), Fans (kWh), Pumps (kWh)]
Index: []
filtered_building_ids_cooling  0      False
1      False
2      False
3      False
4      False
       ...
458    False
459    False
460    False
461    False
462    False
Length: 463, dtype: bool
filtered_loads_usage_cooling  Empty DataFrame
Columns: [Timestamp, Building ID CAAN, Heating (Therms), Hot Water (Therms), Cooking (Therms), Laundry (Therms), Other Process (Therms)]
Index: []
filtered_building_ids_cooling  0      False
1      False
2      False
3      False
4      False
       ...
458     True

   Current District Wet Bulb (F)  Current District Cooling COP
0                             24                           6.0
1                             25                           6.0
2                             26                           6.0
3                             27                           6.0
4                             28                           6.0

In [9]:
current_District_Elec_Use.head()

,Current District Cooling COP_WB,Current District System Cooling Electricity Use (kWh)
0,6.0,0.0
1,6.0,0.0
2,6.0,0.0
3,6.0,0.0
4,6.0,0.0

In [2]:
current_district_therm_loads.head()

,Timestamp,Current District Cooling Load (kBtu),Current District Heating Load (kBtu),Current District Hot Water Load (kBtu),Ambient Air Wet Bulb Temp (F)
0,2010-01-01 00:00:00,0.0,NaN,NaN,49.501190
1,2010-01-01 01:00:00,0.0,NaN,NaN,49.524185
2,2010-01-01 02:00:00,0.0,NaN,NaN,49.515631
3,2010-01-01 03:00:00,0.0,NaN,NaN,48.960694
4,2010-01-01 04:00:00,0.0,NaN,NaN,48.592221

In [3]:
current_District_Gas_Use.head()

,Current District System Heating Gas Use (therms),Current District System Hot Water Gas Use (therms)
0,NaN,710411.428571
1,NaN,710411.428571
2,NaN,710411.428571
3,NaN,710411.428571
4,NaN,710411.428571

In [12]:
current_Bldg_Therm_Op_Loads.head()

,Timestamp,Current Building Equipment Cooling Load (kBtu),Current Building Equipment Heating Load (kBtu),Current Building Equipment Hot Water Load (kBtu),Current Building Equipment Cooking Load (kBtu),Current Building Equipment Laundry Load (kBtu),Ambient Air Wet Bulb Temp (F)
0,2010-01-01 00:00:00,0.0,574.982286,10707290.0,34798692.5,53536450.0,49.501190
1,2010-01-01 01:00:00,0.0,604.940525,10707290.0,34798692.5,53536450.0,49.524185
2,2010-01-01 02:00:00,0.0,614.863964,10707290.0,34798692.5,53536450.0,49.515631
3,2010-01-01 03:00:00,0.0,611.627587,10707290.0,34798692.5,53536450.0,48.960694
4,2010-01-01 04:00:00,0.0,553.059210,10707290.0,34798692.5,53536450.0,48.592221

In [21]:
Current_Bldg_Equip_Gas_Use.head()
# Current_Bldg_Equip_Gas_Use.shape

,Timestamp,Current Building Equipment Heating Gas Use (therms),Current Building Equipment Hot Water Gas Use (therms),Current Building Equipment Cooking Gas Use (therms),Current Building Equipment Laundry Gas Use (therms),Current Building Equipment Other Process Gas Use (therms),Ambient Air Wet Bulb Temp (F)
0,2010-01-01 00:00:00,3883.350734,26768225.0,26768225.0,26768225.0,26768225.0,49.501190
1,2010-01-01 01:00:00,4085.684529,26768225.0,26768225.0,26768225.0,26768225.0,49.524185
2,2010-01-01 02:00:00,4152.706063,26768225.0,26768225.0,26768225.0,26768225.0,49.515631
3,2010-01-01 03:00:00,4130.848022,26768225.0,26768225.0,26768225.0,26768225.0,48.960694
4,2010-01-01 04:00:00,3735.285310,26768225.0,26768225.0,26768225.0,26768225.0,48.592221

In [3]:
Current_Bldg_Equip_Elec_Use.head()

,index,Current Building Equipment Heating Electricity Use (kWh),Current Building Equipment Hot Water Electricity Use (kWh),Current Building Equipment Cooking Electricity Use (kWh),Current Building Equipment Laundry Electricity Use (kWh),Current Building Equipment Other Process Electricity Use (kWh),Current Building Equipment Cooling Electricity Use (kWh),Ambient Air Wet Bulb Temp (F)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.501190
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.524185
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.515631
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.960694
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.592221

In [2]:
new_Bldg_Therm_Op_Loads.head()

,Timestamp,Current New Building Independent Heat Pump Cooling Load (kBtu),Current New Building Independent Heat Pump Heating Load (kBtu),Current New Building Independent Heat Pump Hot Water Load (kBtu),Current New Building Independent Heat Pump Cooking Load (kBtu),Current New Building Independent Heat Pump Laundry Load (kBtu),Ambient Air Wet Bulb Temp (F)
0,2010-01-01 00:00:00,0.0,574.982286,10707290.0,36414878.5,56022890.0,49.501190
1,2010-01-01 01:00:00,0.0,604.940525,10707290.0,36414878.5,56022890.0,49.524185
2,2010-01-01 02:00:00,0.0,614.863964,10707290.0,36414878.5,56022890.0,49.515631
3,2010-01-01 03:00:00,0.0,611.627587,10707290.0,36414878.5,56022890.0,48.960694
4,2010-01-01 04:00:00,0.0,553.059210,10707290.0,36414878.5,56022890.0,48.592221

In [2]:
COP_newBldgEquip_reg_output.head()

,Ambient Air Dry Bulb Temp (F),New Building Independent Heat Pump - Cooling COP (44°F CHWST)
0,50,NaN
1,51,NaN
2,52,NaN
3,53,NaN
4,54,NaN